<h4 class="text-center"> Registre-se</h4>

<form [formGroup]="signupForm" class="form mt-4" (submit)="signup()">
    <div class="form-group">
      <input formControlName="email"  placeholder="e-mail" class="form-control" autofocus >
      <ap-vmessage
        *ngIf="signupForm.get('email').errors?.required"
        text="Email obrigatorio!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('email').errors?.email"
        text="Email inválido!">
      </ap-vmessage>
    </div>

    <div class="form-group">
      <input formControlName="fullName"  placeholder="nome completo" class="form-control">
      <ap-vmessage
        *ngIf="signupForm.get('fullName').errors?.required"
        text="Nome completo obrigatorio!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('fullName').errors?.minlength"
        text="Nome muito pequeno!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('fullName').errors?.maxlength"
        text="Nome muito grande!">
      </ap-vmessage>
    </div>

    <div class="form-group">
      <input formControlName="userName"  placeholder="nome do usuario" class="form-control">
      <ap-vmessage
        *ngIf="signupForm.get('userName').errors?.required"
        text="Usuario obrigatorio!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('userName').errors?.minlength"
        text="Nome muito pequeno!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('userName').errors?.maxlength"
        text="Nome muito grande!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('userName').errors?.funcaoLowerCase"
        text="Usuario tem que ser minusculo">
      </ap-vmessage>
      <ap-vmessage
        text="Nome de usuário já utilizado"
        *ngIf="signupForm.get('userName').errors?.userNameTaken">
      </ap-vmessage>
      <small *ngIf="signupForm.get('userName').valid" class="text-success">Nome de usuario está disponivel</small>
    </div>

    <div class="form-group">
      <input formControlName="password"  type="password" placeholder="senha" class="form-control">
      <ap-vmessage
        *ngIf="signupForm.get('password').errors?.required"
        text="Senha obrigatorio!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('password').errors?.minlength"
        text="Senha muito pequena!">
      </ap-vmessage>
      <ap-vmessage
        *ngIf="signupForm.get('password').errors?.maxlength"
        text="Senha muito grande!">
      </ap-vmessage>
    </div>

    <button [disabled]='signupForm.invalid || signupForm.pending' class="btn btn-primary btn-block">Register</button>

    <p>Já é um usuário?<a [routerLink]="['']">Acesse</a></p>
</form>
